
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card *ngFor="let catagory of categoryList" (click)="onCardClick(catagory.key)">
            <img [src]="catagory['img']" height="200px" width="100%" />
            <ion-card-header text-center>
              <ion-card-title>
                {{catagory.name}}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ catagory.info }}
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>