<ion-content [fullscreen]="true">
  <form [formGroup]="post" (ngSubmit)="onFormSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
     
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select interface="popover" formControlName="category">
          <ion-select-option 
            [value]="category.key"  
            *ngFor="let category of categoryList">
            {{ category.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating" >Title</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Image Url</ion-label>
        <ion-input formControlName="imageUrl"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="post.invalid" class="ion-no-margin">Add Post</ion-button>
    </div>
</form>
</ion-content>
