<!-- <ion-header>
  <ion-toolbar>
    <ion-title>slide</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSWMkZFCGfBaTEoBe9LqrRpkefkTbyH1GnNavDzbbRx08dIF2KH"/>
        <h2>Welcome TM</h2>
        <p> <b>A baby</b> is as pure as an angel and as fresh as a blooming flower.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSzQdxPZsz5qB34jqArt2s9l_CZe3_cx4ITxD8__Iywfl3E2P75"/>
      <h2>Baby born</h2>
      <p>I love these little people; and it is not a slight thing when they, who are so fresh from God, love us.</p>
    </ion-slide>

    <ion-slide>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTZpDCN6EkTEKUE61n56oudphBuOWzKkW3Ja7OcGOtSLu8sqXDB"/>
      <h2>Baby childhood</h2>
      <p>It is a smile of a baby that makes life worth living.</p>
      <ion-button fill="clear" (click)="onSlideClick()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  

  </ion-slides>
</ion-content>
