<ion-content>
  <ion-card>
    <!-- <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header> -->
    <ion-card-content>
      <ion-img src="https://cdn6.f-cdn.com/contestentries/1524490/28503850/5d1169893fa8e_thumb900.jpg" style="border-radius: 50%;" height="200px" width="200px"></ion-img>
      <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
        Login with <ion-icon slot="end" name="logo-google"></ion-icon>
      </ion-button>
    </ion-card-content> 
  </ion-card>
</ion-content>
